# Build folders
build/
build-*/
cmake-build-*/

# Qt Creator
*.pro.user
*.pro.user.*
*.user
*.autosave

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# binaries
*.exe
*.o
*.obj
*.dll

# temp compile output
temp.cpp
temp.exe